body {
    margin: 0;
    padding: 0;
    background-color: #1C1E23;
    overflow: hidden;
    font-family: 'Inter';
}
p {
    user-select: none;
}
hr {
    border: none;
    width: 96%;
    margin-left: 0 auto;
    border-top: 2px solid #383B41;
}
.header {
    position: absolute;
    background-color: #33373F;
    width: 100vw;
    height: 1px;
	color: white;
	text-align: left;
    z-index: 11;
    float: top;
    opacity: 1;
    display: flex;
}
.header #repo {
    position: absolute;
    margin-top: 0;
    top: 8px;
    left: 15px;
    font-size: 8px;
    font-weight: medium;
    z-index: 2;
}
.header #repoName {
    position: absolute;
    margin-top: 0;
    top: 24px;
    left: 15px;
    font-size: 18px;
    font-weight: medium;
    z-index: 2;
}
.header #task-label-hr {
    margin-top: -10px;
}
.header #getDir {
    height: 100%;
    width: 225px;
}
.header #branch {
    position: absolute;
    margin-top: 0;
    top: 8px;
    left: 242px;
    font-size: 8px;
    font-weight: medium;
    z-index: 10;
}
.header #getDir {
    display: flex;
    z-index: -1;
}
.header #selectBranch {
    display: flex;
    z-index: -1;
    background-color: red;
}
.header #branchDropDown {
    border: none;
    background-color: #33373F;
    min-width: 100px;
    color: white;
    text-align: left;
    padding-left: 14px;
    padding-top: 14px;
    padding-right: 14px;
    font-size: 18px;
}
.header #branchDropDown:focus,
#branchDropDown:active {
  outline: none;
}
.tasks {
    position: absolute;
    background-color: #272A31;
    height: 96.2vh;
    width: 1px;
	max-width: 28vw;
	color: white;
	text-align: left;
    z-index: 1;
    left:0;
    resize: horizontal;
    direction: ltr;
    border-right: 2px solid #383B41;
    opacity: 1;
    overflow: hidden;
}
.sidebar-label {
    position: relative;
    margin-top: 0;
    top: 7px;
    left: 10.5px;
    font-size: 13px;
    font-weight: 600;
    color: #ADA5A3;
}
#tasksListHolder {
    height: calc(100% - 137px);
}
#tasksList {
    position: relative;
}
.new-task {
    position: absolute;
    width: 96%;
	text-align: left;
    z-index: 2;
    bottom: 0;
    left: 2%;
    right: 2%;
    height: auto;
}
#new-task-hr {
    margin-bottom: -3px;
    width: 100%;
}
.new-task #task-label {
    position: relative;
    bottom: 5px;
    left: 6px;
    font-size: 13px;
    color: #ADA5A3;
}
.new-task input[type="text"] {
    position: relative;
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    bottom: 14px;
    background-color: #1F2227;
    color: white;
}
.add-new-button {
    position: relative;
    width: 100%;
    height: 33px;
    border: none;
    outline: none;
    border-radius: 5px;
    bottom: 9.5px;
    background-color: #2C3835;
    color: #75797B;
    font-size: 75%;
}
.stagingArea {
    position: absolute;
    background-color: #272A31;
    height: 1px;
    width: 1px;
    max-width: 35vw;
	color: white;
	text-align: left;
    z-index: 1;
    right:0;
    resize: horizontal;
	overflow: auto;
    direction: rtl;
    border-left: 2px solid #383B41;
    opacity: 1;
    justify-content: left;
}
#staged-files {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0%;
    height: calc(40% - 30px);
}
#staged-holder {
    height: 100%;
}
#staged-files-list {
    height: auto;
}
#unstaged-files {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0%;
    height: calc(60% - 140px);
}
#unstaged-holder {
    height: 100%;
}
#unstaged-files-list {
    height: auto;
}
.new-commit {
    position: absolute;
    width: 96%;
	text-align: left;
    z-index: 2;
    bottom: 0;
    left: 2%;
    right: 2%;
}
.new-commit #commit-label {
    position: relative;
    bottom: 8px;
    left: 6px;
    font-size: 13px;
    color: #ADA5A3;
}
.new-commit input[type="text"] {
    position: relative;
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    bottom: 14px;
    background-color: #1F2227;
    color: white;
    direction: ltr;
}
.reference {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}
.log {
    position: absolute;
    background-color: #1C1E23;
    z-index: 5;
    color: #75797B;
    overflow: hidden;
}
.log #branchSelect {
    position: absolute;
}
.log #logInfo {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -11px;
    overflow: hidden;
}
.commitItem {
    position: relative;
    top: 0px;
    padding-bottom: 5px;
    color: #b8b9ac;
    font-size: 12px;
}
.commitItem #hash {
    color: white;
    font-weight: bold;
    font-size: 15px;
    left: 3.2%;
}
.commitItem button {
    position: relative;
    left: 4%;
    width: 65px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    bottom: 0px;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    color: white;
    font-size: 100%;
    font-weight: 600;
    user-select: none;
}
.commitItem button:active {
    background-color: #2c974b;
}
.commitItem p {
    position: relative;
    top: 0px;
    padding-top: 0px;
    left: 4%;
    user-select: auto;
    width: 92%;
}
.item {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    right: 2%;
    left: 2%;
    color: #ADA5A3;
    padding: none;
    height: 25px;
    width: 96%;
    top: -5px;
}
.item:hover {
    background-color: #2b3446;
}
.item p {
    position: relative;
    left: 6px;
    display: inline-block;
    font-size: 13px;
    font-weight: medium;
}
.list {
    height: auto;
    min-height: 100%;
    position: relative;
    z-index: 10;
}
.holder {
    overflow: hidden;
    margin-top: -8px;
    padding-top: 5px;
}