body {
    margin: 0;
    padding: 0;
    background-color: #1C1E23;
    overflow: hidden;
}
.header {
    position: absolute;
    background-color: #33373F;
    width: 100vw;
    height: 1px;
	color: white;
	text-align: left;
    z-index: 5;
    float: top;
}
.tasks {
    position: absolute;
    background-color: #272A31;
    height: 100vh;
    width: 1px;
	max-width: 28vw;
	color: white;
	text-align: left;
    z-index: 1;
    left:0;
    resize: horizontal;
	overflow: auto;
    direction: ltr;
    border-right: 2px solid #383B41;
}
.stagingArea {
    position: absolute;
    background-color: #272A31;
    height: 100vh;
    width: 1px;
    max-width: 35vw;
	color: white;
	text-align: left;
    z-index: 1;
    right:0;
    resize: horizontal;
	overflow: auto;
    direction: rtl;
    border-left: 2px solid #383B41;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}