body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.v1_2 {
    width: 100%;
    height: 820px;
    background: rgba(28,30,35,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v5_38 {
    width: 412px;
    height: 741px;
    /*background: url("../images/v5_38.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 0px;
    overflow: hidden;
}
.v1_4 {
    width: 245px;
    height: 741px;
    background: rgba(39,42,49,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v4_26 {
    width: 229px;
    height: 46px;
    background: rgba(44,56,53,1);
    opacity: 1;
    position: absolute;
    top: 683px;
    left: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v5_45 {
    width: 229px;
    color: rgba(117,121,123,1);
    position: absolute;
    top: 697px;
    left: 8px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}
.v5_41 {
    width: 396px;
    color: rgba(173,165,163,1);
    position: absolute;
    top: 594px;
    left: 16px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v1_13 {
    width: 224px;
    color: rgba(173,165,163,1);
    position: absolute;
    top: 0px;
    left: 14px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v5_39 {
    width: 229px;
    height: 46px;
    background: rgba(31,34,39,1);
    opacity: 1;
    position: absolute;
    top: 632px;
    left: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.v3_4 {
    width: 456px;
    height: 741px;
    /*background: url("../images/v3_4.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 564px;
    overflow: hidden;
}
.v1_3 {
    width: 456px;
    height: 741px;
    background: rgba(39,42,49,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(56,59,65,1);
    overflow: hidden;
}
.v4_36 {
    width: 396px;
    color: rgba(173,165,163,1);
    position: absolute;
    top: 0px;
    left: 15px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v4_24 {
    width: 396px;
    color: rgba(173,165,163,1);
    position: absolute;
    top: 284px;
    left: 15px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v4_30 {
    width: 396px;
    color: rgba(173,165,163,1);
    position: absolute;
    top: 562px;
    left: 15px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v5_40 {
    width: 442px;
    height: 46px;
    background: rgba(44,56,53,1);
    opacity: 1;
    position: absolute;
    top: 683px;
    left: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v4_27 {
    width: 442px;
    color: rgba(117,121,123,1);
    position: absolute;
    top: 697px;
    left: 8px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}
.v4_29 {
    width: 440px;
    height: 78px;
    background: rgba(31,34,39,1);
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.v4_35 {
    width: 100%;
    height: 79px;
    /*background: url("../images/v4_35.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v1_9 {
    width: 100%;
    height: 79px;
    background: rgba(51,55,63,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v4_34 {
    width: 52px;
    height: 48px;
    /*background: url("../images/v4_34.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 699px;
    overflow: hidden;
}
.v4_31 {
    width: 52px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}
.v4_33 {
    width: 26px;
    height: 26px;
    /*background: url("../images/Revert.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 11px;
    overflow: hidden;
}
.v6_53 {
    width: 60px;
    height: 52px;
    /*background: url("../images/rmBranch.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 558px;
    overflow: hidden;
}
.v6_54 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}
.v6_56 {
    width: 33px;
    height: 33px;
    /*background: url("../images/v6_56.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 13px;
    overflow: hidden;
}
.v6_49 {
    width: 52px;
    height: 48px;
    /*background: url("../images/v6_49.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 427px;
    overflow: hidden;
}
.v6_50 {
    width: 52px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}
.v6_52 {
    width: 26px;
    height: 26px;
    /*background: url("../images/branch.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 11px;
    overflow: hidden;
}
.v6_47 {
    width: 59px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 21px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}
.v6_48 {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 31px;
    left: 21px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
